:root {
    --color-main: #ECEDF1;
    --color-linear-primary: linear-gradient(to top right, #444BF7, #8084f9);
    --color-linear-danger: linear-gradient(to top right, rgb(255, 92, 92), rgb(236, 4, 4));
    --color-primary: #444BF7;
    --color-secondary: #d4d4d4;
    --color-light: #f1f1f1;
    --color-dark: #111;
}


// linear-gradient(to top right, #444BF7, #8084f9);
// #8084F9 . #5E63F8