@import './_reset';
@import './_colors';
@import './_mixins';


nav {
    padding: 15px;
    .container {
        background: var(--color-light);
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include shadow();
    }

    .logo {
        margin: 0 10px;
        height: 40px;
        img {
            width: 120px;
            object-fit: cover;
        }
    }

    .nav_list {
        display: flex;
        min-width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            margin: 0 15px;

            a {
                color: var(--color-dark);
                font-weight: 500;
                font-size: 16px;

                &.test {
                    @include buttonStyle(10px, 30px)
                }
            }
        }

        @media(max-width: 768px) {
            flex-direction: column;
            background: var(--color-dark);
            opacity: 0.9;
            backdrop-filter: blure(5px);
            position: fixed;
            justify-content: space-around;
            align-items: center;
            transform: translateX(100%);

            &.active_menu {
                transform: translateX(0%);
            }

            right: 0;
            top: 0;
            min-height: 100dvh;

            li {
                a {
                    color: var(--color-light);
                }
            }
        }
        @media(max-width: 480px) {
            min-width: 80%;
        }
    }

    .mobile_btn {
        display: none;
        transition: all .6s ease-in-out;

        @media(max-width: 768px) {
            display: block;
            z-index: 11;
            top: 20px;
            right: 20px;
        }

        img {
            width: 30px;
        }
    }
}

header {
    background: #a11c1c;
    min-height: 200vh;
}