@mixin icon() {
   &::after {
      content: '';
      position: absolute;
      background: var(--color-red);
      width: 10px;
      height: 10px;
      top: 5px;
      left: -20px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
   }
}

header {
   background: url('../images/header/image-bg.png') no-repeat center/cover;
   .container {
      max-width: 1400px;
   }
   .brand-logo {
      width: 300px;
      margin-bottom: 30px;
   }

   .features-list {
      padding: 15px;
      li {
         @include icon()
      }
   }

   .price-box {
      width: max-content;
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 30px;

      &::after {
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         width: 90%;
         height: 100%;
         border-radius: 15px;
         border: 1px solid var(--color-red);
         z-index: 1;
      }

      .price-label {
         display: inline-block;
         padding: 10px 30px;
         font-weight: bold;
         line-height: 1.2;
         font-size: 23px;
      }

      .price-amount {
         display: inline-block;
         background: var(--color-gradient);
         color: var(--color-white);
         padding: 5px 40px;
         height: 100%;
         font-size: 50px;
         font-weight: bold;
         border-top-right-radius: 15px;
         border-bottom-right-radius: 15px;
         position: relative;
         z-index: 2;
      }
   }

   .eyebrow {
      font-size: clamp(40px, 3vw, 40px);
      font-weight: bold;
      margin-bottom: 20px;
   }

   .main-title {
      font-size: 5.5vw;
      font-weight: bold;
   }

   .sub-title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 50px;
   }

   @media(max-width: 768px) {
      .brand-logo {
         width: 200px;
         margin-bottom: 30px;
      }

      .price-box {
         .price-label {
            font-size: 16px;
         }
         .price-amount {
            font-size: 30px;
         }
      }
   }

   @media(max-width: 768px) {
      .price-box {
         .price-label {
            font-size: 12px;
         }
         .price-amount {
            font-size: 25px;
         }
      }
   }
}