:root {
    /* Հիմնական գույներ */
    --primary-color: #444cf7; /* Կապույտ, հիմնական */
    
    --accent-color: #FFC107; /* Դեղին, կարևոր տարրերի համար */

    /* background color */
    --background-color: #f8f9fa; /* Թեթև մոխրագույն սպիտակ */
    --light-background: #FFFFFF; /* Մաքուր սպիտակ */
    
    /* Տեքստի գույներ */
    --color-light: #fff; /* Մուգ մոխրագույն */
    --text-color: #f2f2f2; /* Մուգ մոխրագույն */
    --light-text: #666666; /* Թեթև մոխրագույն տեքստ */
    --dark-text: #111; /* Թեթև մոխրագույն տեքստ */
    
    /* Սահմաններ և ստվերներ */
    --border-color: #DDDDDD; /* Վահանակների սահմաններ */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Թեթև ստվերներ */
}
