
// global container reset
.container {
    max-width: $container;
    width: 100%;
    padding: 30px;
    margin: auto;
    @media(max-width: 992px) {
        padding: 15px
    }
    overflow: hidden;
}

section {
    margin-bottom: 100px;  
    @media(max-width: 992px) {
        margin-bottom: 70px;
    }
}

.circle-check {
    color: var(--primary-color);
    font-size: 20px;
}

.section_title {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: bold;
    @media(max-width: 992px) {
        font-size: 30px;
    }
}